## glob

In [1]:
import glob

In [3]:
glob.glob('*.txt')

['dummy.txt', 'alice.txt']

***

## reading files with encoding

In [6]:
with open('congress_data/congress_votes_114-2016_s20.csv', encoding='utf-8') as f:
    f.read()

***

## using next() or islice()

In [7]:
it = iter('abcdefg')

In [8]:
it

In [9]:
next(it)

'a'

In [10]:
next(it)

'b'

In [11]:
list(it)

['c', 'd', 'e', 'f', 'g']

***

## csv.reader()

In [2]:
import csv
from pprint import pprint

In [3]:
with open('congress_votes_114-2016_s20.csv', encoding='utf-8') as f:
    convert = csv.reader(f)
    head = ( next(convert) for row in range(10) ) # print the first 10 lines
    pprint(list(head))

[['Senate Vote #20 2016-02-10T17:11:00 - H.R. 757: North Korea Sanctions '
  'Enforcement Act of 2016'],
 ['person', 'state', 'district', 'vote', 'name', 'party'],
 ['300002', 'TN', '', 'Yea', 'Sen. Lamar Alexander [R]', 'Republican'],
 ['300011', 'CA', '', 'Yea', 'Sen. Barbara Boxer [D]', 'Democrat'],
 ['300018', 'WA', '', 'Yea', 'Sen. Maria Cantwell [D]', 'Democrat'],
 ['300019', 'DE', '', 'Yea', 'Sen. Thomas Carper [D]', 'Democrat'],
 ['300023', 'MS', '', 'Yea', 'Sen. Thad Cochran [R]', 'Republican'],
 ['300025', 'ME', '', 'Yea', 'Sen. Susan Collins [R]', 'Republican'],
 ['300027', 'TX', '', 'Yea', 'Sen. John Cornyn [R]', 'Republican'],
 ['300030', 'ID', '', 'Yea', 'Sen. Michael Crapo [R]', 'Republican']]

***

## tuple unpacking

In [23]:
t = ('Raymond', 'Hettinger', 54, 'pyhon@rcn.com')

In [24]:
type(t)

tuple

In [25]:
len(t)

4

In [26]:
fname, lname, age, email = t

In [27]:
fname

'Raymond'

In [28]:
lname

'Hettinger'

In [31]:
fname, lname, *_ = t

In [32]:
fname

'Raymond'

In [33]:
lname

'Hettinger'

[54, 'pyhon@rcn.com']

***

## looping idioms

In [35]:
names = 'raymond rachel matthew'.split()

In [36]:
colors = 'red blue yellow'.split()

In [57]:
cities = 'austin dallas austin houston chicago dallas'.split()

In [52]:
dict(zip('abc', range(3)))

{'a': 0, 'b': 1, 'c': 2}

In [39]:
for name in names:
    print(name.upper())

RAYMOND
RACHEL
MATTHEW

In [48]:
for idx, name in enumerate(names, start=1):
    print(idx, name)

1 raymond
2 rachel
3 matthew

In [44]:
for color in reversed(colors):
    print(color)

yellow
blue
red

In [43]:
list(reversed(colors))

['yellow', 'blue', 'red']

In [45]:
names

['raymond', 'rachel', 'matthew']

In [46]:
colors

['red', 'blue', 'yellow']

In [49]:
for name, color in zip(names, colors):
    print(name, color)

raymond red
rachel blue
matthew yellow

In [53]:
for color in sorted(colors):
    print(color)

blue
red
yellow

In [54]:
for color in sorted(colors, key=len):
    print(color)

red
blue
yellow

In [58]:
cities

['austin', 'dallas', 'austin', 'houston', 'chicago', 'dallas']

In [59]:
for city in sorted(set(cities)):
    print(city)

austin
chicago
dallas
houston

In [60]:
# select distinct city from cities order by city;

In [61]:
for city in reversed(sorted(set(cities))):
    print(city)

houston
dallas
chicago
austin

In [64]:
for i, city in enumerate(reversed(sorted(set(cities)))):
    print(i, city)

0 houston
1 dallas
2 chicago
3 austin

In [66]:
for i, city in enumerate(map(str.upper, reversed(sorted(set(cities))))):
    print(i, city)

0 HOUSTON
1 DALLAS
2 CHICAGO
3 AUSTIN

***

## incrementing instances of Counter

In [67]:
import collections

In [68]:
c = collections.Counter()

In [69]:
c['red'] += 1

In [70]:
c

Counter({'red': 1})

In [71]:
c['blue'] += 1

In [72]:
c['red'] += 1

In [73]:
c

Counter({'red': 2, 'blue': 1})

In [75]:
c.most_common(1)

[('red', 2)]

In [76]:
c.most_common(2)

[('red', 2), ('blue', 1)]

In [77]:
c.most_common()

[('red', 2), ('blue', 1)]

In [78]:
list(c.elements())

['red', 'red', 'blue']

***

## assertions

In [80]:
assert 5 + 3 == 8

In [81]:
assert 5 + 3 == 10

AssertionError: